<h4 align="center">All Users</h4>

<div class="row">
    <form (ngSubmit)="createUser($event)" ngNativeValidate>
        <div class="col-md-6">
            <input type="text" style="width: 200px; float: right" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required placeholder="Enter Pet Owner's Name"/>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" style="width: 200px; float: left">
                <span style="display:none"><i class="fa fa-refresh fa-spin"></i></span>
                Add
            </button>
        </div>
    </form>
</div>

<div class="row">
    <span>Total count: </span> {{totalItems}}
    <div style="height: 200px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Pets Count</th>
                </tr>
            </thead>
            <tr *ngFor="let user of users">
                <td class="col-md-6">
                    <a [routerLink]="['/pet', user.id]">{{user.name}}</a>
                </td>
                <td>
                    {{user.totalPets}}
                </td>
                <td>
                    <button type="submit" style="width: 130px; float: right" class="btn btn-primary" (click)="deleteUser($event,user.id)">
                        <span style="display: none"><i class="fa fa-refresh fa-spin"></i></span>
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
<div class="text-center">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="pageSize" [boundaryLinks]="false" (pageChanged)="pageChanged($event)" previous-text="&lsaquo;" next-text="&rsaquo;">
    </pagination>
    
</div>
</div>